# Dummy Regression

In [2]:
import os
os.chdir('C:/Sereda/Lectures/Springboard/Capstone2_CustomerChurn/')
import pandas as pd
import numpy as np
from sklearn.dummy import DummyClassifier

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import confusion_matrix, classification_report, roc_curve, roc_auc_score
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
pd.set_option('display.max_rows', 600)

In [3]:
csv = "./data/df_20161022_onehot.csv" #csv = "data/df_20161022_1.gender_onehot.featuresmt.csv"
df = pd.read_csv(csv)
X = df.drop('is_churn', axis=1) # drop unknown churn
y = df[['is_churn']]
y = np.ravel(y)
df.head()

,is_auto_renew,is_cancel,reg_to_trans_days,is_churn,registration_winter,registration_spring,registration_summer,registration_autumn,registration_beginOfMonth,registration_middleOfMonth,...,transaction_DayofMonth_29,transaction_DayofMonth_30,transaction_DayofMonth_31,transaction_DayOfWeek_0,transaction_DayOfWeek_1,transaction_DayOfWeek_2,transaction_DayOfWeek_3,transaction_DayOfWeek_4,transaction_DayOfWeek_5,transaction_DayOfWeek_6
0,0,0,4098,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,4098,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,4098,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,1,0,4021,1,0,1,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
4,1,0,4021,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0

#### Train-Test split
Taking 70% for training set and 30% for test set.

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
print("Train samples:",y_train.shape[0])
print("Test samples:",y_test.shape[0])

Train samples: 11986
Test samples: 5138

In [5]:
dummy = DummyClassifier(strategy = 'most_frequent', random_state=0).fit(X_train, y_train);
print("Benchmark accuracy =",dummy.score(X_test, y_test))

Benchmark accuracy = 0.920591669910471

This is the same as the proportion of no churn in the test set:

In [6]:
print("Proportion of 0:", 1-np.sum(y_test)/len(y_test))

Proportion of 0: 0.920591669910471